@font-face{
    font-family: 'OpenSans';
    src: url(fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

@font-face{
    font-family: 'OpenSans';
    src: url(fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

html, body{
    margin: 0;
    font-family: 'OpenSans', sans-serif;
    background-color: #f6f6f6;
}

.wrapper{
    width: 1280px;
}

.content{
    width: 100%;
    height: auto;
    overflow: auto;
}

.center{
    margin: 0 auto;
}

.row{
    padding-bottom: 10px;
}

.text-center{
    text-align: center;
}

.left-side{
    float: left;
    width: 512px;
    padding-top: 10px;
}

.right-side{
    float: right;
    width: 760px;
}

#generated-passphrase{
    /*margin-top: 30px;*/
    padding: 0 5px;
    background-color: #ddd;
    font-size: 24px;
    height: 3em;
    width: 700px;
    vertical-align: middle;
    border: 1px solid #969aad;
    vertical-align: middle;
    background-color: #fff;
}

#explanation{
    width: 600px;
    padding-top: 20px;
}

.buttons{
    padding-top: 20px;
    margin: 0 auto;
}
h2{
    line-height: 1em;
}

button {
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    padding: 6px 12px;
    background-color: #FFF;
    border-color: #CCC;
    color: #333;
    white-space: nowrap;
    margin-bottom: 0;
    border: 1px solid #a0a0a0;
}

button:hover, button:focus{
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}

select {
    text-align: center;
}

input[type="text"] {
    width: 50px;
    padding: 10px;
    font-size: 1.5em;
    margin-right: 15px;
    border: 1px solid #969aad;
    border-bottom: solid 2px #a0a0a0;
    transition: border 0.3s;
    text-align: center;
}

input[type="text"]:focus,
input[type="text"].focus {
    border-bottom: solid 2px #1e1e1e;
}

.footer{
    clear: both;
    overflow: auto;
    padding-top: 50px;
    color: #777;
    height: 50px;
    width: 100%;
    font-size: smaller;
}

a{
    text-decoration: none;
    color: #0074d9
}
