@font-face{
    font-family: 'OpenSans';
    src: url(fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

@font-face{
    font-family: 'OpenSans';
    src: url(fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

html, body{
    margin: 0;
    font-family: 'OpenSans', sans-serif;
}

.wrapper{
    width: 1280px;
}

.center{
    display: table;
    margin: 0 auto;
}

.row{
    padding-bottom: 10px;
}

.text-center{
    text-align: center;
}

.dice-input{
    float: left;
    width: 40%;
}

#generated-passphrase{
    margin-top: 50px;
    text-align: center;
    font-size: 2em;
    float: right;
    width: 55%;
    height: auto;
}

.buttons{
    margin-top: 20px;
}

button {
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    padding: 6px 12px;
    background-color: #FFF;
    border-color: #CCC;
    color: #333;
    white-space: nowrap;
    margin-bottom: 0;
    border: 1px solid #a0a0a0;
}

button:hover, button:focus{
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}

select {
    text-align: center;
}

input[type="text"] {
    width: 50px;
    padding: 10px;
    font-size: 1.5em;
    margin-right: 15px;
    border: none;
    border-bottom: solid 2px #a0a0a0;
    transition: border 0.3s;
    text-align: center;
}

input[type="text"]:focus,
input[type="text"].focus {
    border-bottom: solid 2px #1e1e1e;
}
